# AMAZON PRODUCT ADVERTISING API
aws:
    key: YOUR AMAZON KEY
    secret: YOUR AMAZON SECRET
    associate_tag: YOUR AMAZON ASSOCIATE TAG
    search_index: INDEX FOR ITEM SEARCH OPERATION
    keywords: KEYWORDS FOR ITEM SEARCH OPERATION

# COUCHDB
couchdb:
    couch: URL OF YOUR COUCHDB SERVER
    db: NAME OF COUCH DB